concept=true
nSR=3
residualMax=20
pNevts=0
#filePath=root://eoscms//eos/cms/store/user/amagnan/HGCalEEGeant4/gitV00-02-12/gamma/
filePath=root://eoscms//eos/cms/store/user/msun/V12/gamma/gitV00-03-00/gamma/
nRuns=0
#simFileName=HGcal_version12_model2_BOFF_et60_alpha0.297
simFileName=HGcal_version12_model2_BOFF_et60_eta1.900
#recoFileName=Digi_version12_model2_BOFF_et60_alpha0.297
recoFileName=DigiIC2_version12_model2_BOFF_et60_eta1.900
#recoFileName=PuMix140_version12_model2_BOFF_et3_alpha0.361
#outPath=/afs/cern.ch/user/a/amagnan/SLHC/PFCal/PFCalEE/analysis/PLOTS//gitV00-02-12/version12/gamma/200um/simultFit/eta17_et20_pu0.root
outPath=/afs/cern.ch/user/a/amagnan/SLHC/PFCal/PFCalEE/analysis/PLOTS//gitV00-03-00/version12/gamma/dedx/eta19_et60_pu0.root
#outPath=/afs/cern.ch/user/a/amagnan/SLHC/PFCal/PFCalEE/analysis/PLOTS//gitV00-02-12/version12/gamma/200um/eta17_et3_pu140.root
nSiLayers=2
redoStep=1
debug=0
applyPuMixFix=0
#cellMask=0
g4trackID=1
